@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

abbr {
  text-decoration: none;
  font-family: 'Pretendard Variable', sans-serif;
}

.dark .react-calendar {
  border: none;
  background-color: #282828;
  color: #eee;
}

.calendar-container {
  width: 300px;
  background-color: #ffffff;
}

.dark .calendar-container {
  background-color: #282828;
  color: #eee;
}

.custom-calendar {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 8px;
}

.custom-calendar .react-calendar__navigation {
  height: 30px;
  margin: 0;
}

.custom-calendar .react-calendar__navigation__label__labelText {
  font-size: 14px;
}

.custom-calendar .react-calendar__navigation button {
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.custom-calendar .react-calendar__navigation button:hover {
  background-color: #fff;
  color: #2f855a;
}

.custom-calendar .react-calendar__navigation button:disabled {
  background: none;
  color: #cccccc;
  cursor: not-allowed;
}

.dark
  .custom-calendar
  .react-calendar__month-view__days
  .react-calendar__tile:disabled {
  background: none;
  color: #404040;
  cursor: not-allowed;
}

.custom-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.custom-calendar
  .react-calendar__month-view__weekdays
  .react-calendar__month-view__weekdays__weekday {
  font-size: 13px;
  color: #4b4b4b;
}

.dark
  .custom-calendar
  .react-calendar__month-view__weekdays
  .react-calendar__month-view__weekdays__weekday {
  font-size: 13px;
  color: #acacac;
}

.custom-calendar .react-calendar__month-view__days {
  font-size: 14px;
  font-weight: 600;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  color: #4b4b4b;
}

.dark .custom-calendar .react-calendar__month-view__days .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  color: #acacac;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile:hover {
  background: #ced8d5;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile:focus {
  background: #2f855a;
}

.custom-calendar
  .react-calendar__month-view__days
  .react-calendar__tile:disabled {
  background: #fff;
  color: #9c9c9c;
  cursor: not-allowed;
  font-weight: 400;
}

.custom-calendar
  .react-calendar__month-view__days
  .react-calendar__tile:active {
  background: #fff;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile--now {
  background: #ced8d5;
  color: #0b3b2d;
  font-weight: 800;
}

.custom-calendar
  .react-calendar__month-view__days
  .react-calendar__tile--active {
  background: #2f855a;
  color: #ffffff;
}

.custom-calendar
  .react-calendar__month-view__days
  .react-calendar__tile--disabled {
  color: #cccccc;
  cursor: not-allowed;
}
